*{
	margin: 0;
	padding: 0;
}

.z{
	float: left;
}
.y{
	float: right;
}

a{
	color: #515150;
	text-decoration: none;
}
a:hover{
	color: #CFF;	
}
.middle{
	margin-top: 15px;
}
body{
	background-color: rgba(0,0,0,0.01);
	background:url(../images/cfcd6204gw1es6c5xzv86j21xg2xbx6f.jpg) no-repeat ;
	background-size:  100% 100%;
	width: 100%;
	height: 100%;
}
.header{
	height: 60px;
	line-height: 60px;
}
.headerleft{
	margin-left: 20%;
}
.headerleft font{
	font-size: 48px;
}
.headerright{
	margin-right: 20%;
	font-size: 18px;
}
.headerright li{
	list-style: none;
	margin-right: 30px;
}
.neirong1{
	background-color:#CCC;
	margin-left: 20%;
	margin-right: 20%;
	font-size:20px;
	font-family:宋体;
	margin-bottom: 1px;
}

.nrz{
	width: 50%;
}
.nry{
	background-color:#3F3;
	width: 50%;
}
.footer{
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: 45px;
	line-height: 45px;
	background-color: #362e2b;
	color: white;
	font-size: 14px;
	clear:left;
}
.q{
	height:300px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0px;
}
/*           ？？？？？？？？？？？？？？？？？？  *********/
/*
#daohang{
	
	background-color:#CCC;
	margin-left: 20%;
	margin-right: 20%;
	font-size:20px;
	font-family:宋体;
	margin-bottom: 1px;
	
}
*/
#box{
	
	margin-left: 20%;
	margin-right: 20%;
	background-color:#CCC;
	width: 60%;
	height: 5300px;
	font-family:宋体;
}
#box1{
	float:left;	
	margin-left: 3%;
	margin-right: 0%;
	background-color:#CCC;
	width: 50%;
	height: 550px;
	
}
#box2{
	float:left;	
	margin-left: 3%;
	margin-right: 0%;
	background-color:#CCC;
	width: 50%;
	height: 900px;
	margin-bottom: 70px;
}
#box3{
	float:left;	
	margin-left: 3%;
	margin-right: 0%;
	background-color:#CCC;
	width: 50%;
	height: 400px;
	margin-bottom: 70px;
}
#box4{
	float:left;	
	margin-left: 3%;
	margin-right: 0%;
	background-color:#CCC;
	width: 50%;
	height: 700px;
	margin-bottom: 70px;
}
.pirture1{
	float:left;	
	width: 35%;
	margin-left: 100px;
	margin-top:30px;
	 
}
.pirture2{
	float:left;	
	width: 35%;
	margin-left: 100px;
	margin-top:30px;
	 
}

















